<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<form 
id="add-review-form"
action=""
method="POST"
>
  <input placeholder="Review Title" type="text" name="reviewTitle""><br>
  <textarea placeholder="Enter Review Here" name="reviewContent" id="" cols="30" rows="10"></textarea>
  <br>
  <button type="submit">submit</button>
</form>
<br><br>

<%- include('../partials/footer') %>