<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Master Show List</h1>

<ul>
  <% shows.forEach(show => { %>
    <li><%= show.name %> </li>
    <% }) %>  
</ul>

<%- include('../partials/footer') %>
