<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Watchlist</h1>

<ul>
  <% shows.forEach(show => { %>
    <% if (show.showType === "watchlist") { %> 
      <li><%= show.name %> </li>
    <% } %> 
  <% }) %>  
</ul>

<%- include('../partials/footer') %>
